# Common build directories
/build
/build_x64
/build_x86

# Distribution directories
/dist
/syms

# Dependencies that are downloaded/installed separately
/thirdparty/cef3/**
!/thirdparty/cef3/README.txt

# IDE files
/.vscode
/.idea

# Misc OS files
**/.DS_Store

# direnv
/.direnv
